# <font color=green>Python Data Types</font>

## Built-in Data Types

### Text type:

> ***String type***

In [9]:
#str type

my_string1 = 'Hello World'

my_string2 = 'Welcome to Python'

print(my_string1, type(my_string1))
print(my_string2, type(my_string2))

Hello World <class 'str'>
Welcome to Python <class 'str'>

### Numeric Types

> ***Integer***
- It can hold as many as long number

In [14]:
#int type
#it can hold as many as long numbers from Python3

my_int = 10

print(my_int, type(my_int))

10 <class 'int'>

> ***Float***

In [11]:
#float type

my_float = 25.35

print(my_float, type(my_float))

25.35 <class 'float'>

> ***Complex***

In [7]:
#complex type

my_complex1 = 2 + 3j

my_complex2 = 2j

print(my_complex1, type(my_complex1))
print(my_complex2, type(my_complex2))

(2+3j) <class 'complex'>
2j <class 'complex'>

### Sequence Types

> ***List***
- A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
- Allows duplicate

In [18]:
#list type
#A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

my_list = [1,2,"apple",34.56,"banana","apple"]

print(my_list, type(my_list))

[1, 2, 'apple', 34.56, 'banana', 'apple'] <class 'list'>

> ***Accessing a List***

In [19]:
#access an item
#index starts from 0, 1, 2 and so on

print(my_list[2]) 

print(my_list[3:])

print(my_list[:3])

print(my_list[1:6:2]) #starting index, stopping index (it will not considered), jumping index (how many times to jumpm)

apple
[34.56, 'banana', 'apple']
[1, 2, 'apple']
[2, 34.56, 'apple']

> ***Reversing the list***

In [20]:
print (my_list[::-1])

#access a last item

print (my_list[-1])

['apple', 'banana', 34.56, 'apple', 2, 1]
apple

> ***enumerate list***

In [27]:
for index,x in enumerate(my_list):
    print(index,x)

print('\n')

for index,x in enumerate(my_list, start=1):
    print(index,x)

0 1
1 2
2 apple
3 34.56
4 banana
5 pineapple


1 1
2 2
3 apple
4 34.56
5 banana
6 pineapple

> ***Join and Split an element in list***

In [30]:
my_list_string = ', '.join(str(my_list))

print(my_list_string)

[, 1, ,,  , 2, ,,  , ', a, p, p, l, e, ', ,,  , 3, 4, ., 5, 6, ,,  , ', b, a, n, a, n, a, ', ,,  , ', p, i, n, e, a, p, p, l, e, ', ]

> ***Change the value in the list***

In [21]:
print ('before update', my_list)
my_list[-1] = 'pineapple'

print('after update', my_list)

before update [1, 2, 'apple', 34.56, 'banana', 'apple']
after update [1, 2, 'apple', 34.56, 'banana', 'pineapple']

> ***Loop thru the list***

In [22]:
for x in my_list:
    print(x)

1
2
apple
34.56
banana
pineapple